/*Add a web font to your pages with the CSS @font-face rule.*/
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

/*Making images scale to fit the size of their container*/
img {width: 100%;}

#container {width: 100%;}

.center{
	font-family: Quicksand;
    text-align: center;
    color: dodgerblue;
    line-height: 2.0em;
    font-size:  1.2em;
}

.entire{
	font-family: Quicksand;
	color: dodgerblue;
	line-height: 2.0em;
    font-size:  1.2em;
    font-weight: normal;
}

.entire2{
	font-family: Quicksand;
	color: dodgerblue;
	line-height: 2.0em;
    font-size:  1.2em;
}

#new{
	text-align: center;
	color: dodgerblue;
	font-family: Chalkduster;
	font-size:  1.1em;
}

.nav-list a { 
	font-family: Quicksand;
	font-size:  1.3em;
	border-bottom: 2px solid pink;
}

a:link{ /* unvisited link */
	color: hotpink;
}

a:visited{ /* visited link */
	color: mediumpurple;
}

a:hover{ /* mouse over link */
	color:	blueviolet;
}

a:active{ /* when click on it. */
	color: mediumslateblue;
}

.partA,.partB,.partC,.partD{
	border: 3px solid dodgerblue;
	border-radius: 60px;
	padding: 20px;
}

ul.nav-list {
	list-style: none;
	width: 90%;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
}

footer{
    text-align: center;
    padding: 10px;
    color: mediumslateblue;
}

.children{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	row-gap: 10px;
}

.nav-item{
	border: 2px solid mediumslateblue;
	border-radius: 100px;
	padding: 10px;
	background-color: Lavender;
}


/*--- media query ---*/
@media (min-width:980px){
	#container {
	    width: 970px;
	    margin: auto;
	}

	ul.nav-list {
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.center{
		display: grid;
	    grid-template-columns: repeat(3, 1fr); /* 3 columns, each 1/3 width */
		column-gap: 40px;
		text-align: left;
	}

	.children{
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(2, 1fr);
		row-gap: 10px;
		column-gap: 10px;
	}

	.entire,.entire2{
	    display: grid;
	    grid-template-columns: repeat(2, 1fr); /* 2 columns, each 1/2 width */
		column-gap: 50px;
	}

}
